repos:
  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]
      - id: shfmt
        name: shfmt
        entry: shfmt -w -i 2 -ci -sr
        language: system
        types: [shell]
